*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #efefef;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(4,9,30,0.5);
    color: white; 
    justify-content: space-between;
    align-items: center; 
    text-transform: uppercase;
    display: flex; 
    position: fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    width: 25%;
    text-align: center;
    margin-top: 5px;
}
  
.nav-links {
    flex: 1;
    text-align: right;
    justify-content: space-around;
}
  
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 15px;
}
  
.nav-links ul li a {
    width: 25%;
    text-decoration: none; 
    color: white;
    font-weight: bold;
}
  
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #bdc3c7;
    display: block;
    margin: auto;
    transition: 0.5s;
}
  
.nav-links ul li:hover::after {
    width: 100%;
}

.top-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: white;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)), url('banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.container {
    width: auto;
    text-align: center;
    color: white;
    padding-top: 40px;
}
  
.top-wrapper h3 {
    font-size: 25px; 
    font-weight: 200; 
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
}
  
.top-wrapper h1 {
    margin: 30px 0 20px 0;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
  
.top-wrapper p {
    font-size: 15px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}
  
.top-wrapper a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}
  
.btnone {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
  
.btnone:hover {
    border: 1px solid #00b894;
    background: #00b894;
    transition: 0.5s;
}

header .fa {
    display: none;
}

.change_content:after {
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}
  
@keyframes changetext{
    0% { content: "Children Studio";}
    50% { content: "Art Studio";}
    100% { content: "Ceramic Studio";}
}

/*---- Event ----*/

.event {
    width: 80%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
}

.event h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
}

.event p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.event-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.event-col img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    background: transparent;
}

.layer:hover {
    background: linear-gradient(rgba(0,0,0,0.5), #55efc4);opacity: 1;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}
/*---- Collection ----*/

.collection {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.collection h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
}

.collection p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.collection-col {
    flex-basis: 31%;
    background: #ced6e0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.collection-col h3 {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
}

.collection-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.collection-col img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.collection-col::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #bdc3c7;
    display: block;
    margin: auto;
    transition: 0.5s;
}
  
.collection-col:hover::after {
    width: 100%;
}

/*---- About ----*/

.about-us {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.about-us h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    margin-top: 20px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 80%;
    position: relative;
    margin-top: 100px;
}

.about-col h3 {
    padding-top: 0;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 5px;
}

.about-col p {
    padding: 15px 0 25px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-top: 30px;
}

/*---- Contact ----*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)), url('contact.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

form h1{
    font-size: 25px; 
    font-weight: 200; 
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.contact-row .input-group {
    flex-basis: 48% ;
}

/*---- Footer ----*/

footer {
    width: 100%;
    bottom: 0;
    background: #767676;
    color: #fff;
    padding: 80px 0 10px;
    font-size: 13px;
    line-height: 20px;
}
  
.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
  
.col {
    flex-basis: 25%;
    padding: 10px;
}
  
.footer-logo {
    width: 250px;
    margin-bottom: 30px;
}
  
.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}
  
.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.btntwo {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}
  
.btntwo:hover {
    border: 1px solid #00b894;
    background: #00b894;
    transition: 0.5s;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
  
ul li {
    list-style: none;
    margin-bottom: 12px;
}
  
ul li a {
    text-decoration: none;
    color: #fff;
}
  
.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    margin-top: 40px;
    cursor: pointer;
}
  
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
  
.copyright {
    text-align: center;
}
  
.underline {
    width: 100%;
    height: 5px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
  
.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
  
@keyframes moving {
    0% {
      left: -20px;
    }
    
    100% {
      left: 100%;
    }
}